html, body {
    margin: 0;
    padding: 0;
    background: #776e65;
    color: #faf8ef;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

body {
    margin: 60px 0; /* Just top margin */
}

.container {
    width: 990px;
    margin: 0 auto;
}